.activityPage-body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

.activityPage-header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #EBEBEB;
    margin-bottom: 10px;
}

.activityPage-title {
    font-weight: bold;
}

.activityPage-joinedDateGraph-container,
.activityPage-averageRatingGraph-container {
    height: 430px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.activityPage-joinedDateGraph,
.activityPage-averageRatingGraph {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.activityPage-daysSpentWatchingGraph-container {
    height: 430px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.activityPage-daysSpentWatchingGraph {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}