.activityPage-joinedDateGraph-container {
    height: 430px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.activityPage-joinedDateGraph {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}