.navbarPage-body {
    position: sticky;
    height: 99vh;
    width: 240px;
    color: white;
    border-radius: 5px;
}

.navbarPage-container {
    padding: 1px;
    height: 100%;
    background-color: black;
    border-radius: 5px;
}

.navbarPage-container-title {
    background-color: #151718;
    border-radius: 5px;
    margin: 3px;
    display: flex;
    justify-content: center;
    border: 1px solid #262727;
}

.navbarPage-logo {
    height: 45px;
    width: auto;
    margin-top: 2px;
}

.navbarPage-title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;

}

.navbarPage-container-text {
    height: 92.6%;
    display: flex;
    flex-direction: column;
    background-color: #151718;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    border: 1px solid #262727;
}

.navbarPage-text-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 5%;
    margin-bottom: 15px;
}

.navbarPage-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3%;
    padding: 5px;
    color: #8F9192;
}

.navbarPage-text:hover {
    background-color: #28272A;
    border-radius: 5px;
    transition: all 200ms linear 0s;
    color: white;
    cursor: pointer;
}

