.popularityPage-body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

.popularityPage-header {
    width: 100%;
    height: 7%;
    border-bottom: 2px solid #EBEBEB;
    margin-bottom: 10px;
}

.popularityPage-title {
    font-weight: bold;
}

.popularityPage-ratingGraph-container, 
.popularityPage-watchedGraph-container 
{
    height: 430px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.popularityPage-ratingGraph,
.popularityPage-watchedGraph {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.popularityPage-genreGraph-container {
    width: 50%;
    height: 430px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.popularityPage-genreGraph {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
}

.popularityPage-airingGraph-container{
    height: 430px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}


.popularityPage-airingGraph {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
